<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>Payment Successful - Quotivation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link>{0}</link>
  </head>
  <body>
    <p>Dear {1},</p>
    <p>
      We are happy to inform you that your purchase of a Premium subscription has been successful.
    </p>
    <p>
      You can now enjoy the full features of Quotivation.
    </p>
    <p>You can view detailed payment information below:</p>
    <p>
      Merchant Information: Wermax Consulting doo, 109871829, Hiladnarska 21, Beograd, Srbija
    </p>
    <p>{2}</p>
    <p>
      <span>Regards, </span>
      <br />
      <p>Quotivation Team</p>
    </p>
  </body>
</html>
